<div class="main_container" [ngClass]="{focused_block : isFocused}">
  <div class="loop_container" [ngClass]="{focused_icon : isFocused}">
    <mat-icon class="icon">search</mat-icon>
  </div>

  <div class="input_container">
    <input
      [value]="val"
      [placeholder]="placeholder"
      class="input"
      (blur)="isFocused = false" (focus)="setFocus()"
      [(ngModel)]="value">
  </div>

  <div class="delete_container">
    <mat-icon (click)="del()" class="icon">close</mat-icon>
  </div>
</div>
