@import 'variables';

.main-container {
  display: flex;
  flex-direction: column;
  //width: 240px;
  height: 800px; //for desktop
  background-color: $auth-form-color;
  border-right: 1px solid $auth-border-color;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-buttons-container {
  flex: 1;
}

.bottom-button-container {
}
