<div class="main_container">
  <div class="header_text">Log In</div>
  <div class="content_container">
    <div class="input_container" [formGroup]="loginForm">
      <app-custom-input
        type="email"
        formControlName="email"
        [invalid]="emailError"
        [success]="loginIsSuccess"
        placeholder="email@email.com" name="Your Email">
      </app-custom-input>
    </div>
    <div class="text_container">
      Enter the email you signed up with to receive your login code
    </div>
    <div class="button_container">
      <app-custom-button
        [disabled]="formIsInvalid"
        (onClick)="clickHandler()" text="Log In">
      </app-custom-button>
    </div>
  </div>
</div>
