<div class="main_container">
  <div class="header_text">Log In</div>
  <div class="content_container">
    <div class="input_container">
      <app-custom-input [invalid]="''" [success]="false" placeholder="email@email.com" name="Your Email" [width]="322">
      </app-custom-input>
    </div>
    <div class="text_container">
      Enter the email you signed up with to receive your login code
    </div>
    <div class="button_container">
      <app-custom-button [disabled]="false" (onClick)="clickHandler()" text="Log In"></app-custom-button>
    </div>
  </div>
</div>
