<div class="main_container">

  <div [ngClass]="{
  focused_text : focused,
  error_text : !focused && !!messageError && !disabled
  }" class="name">{{ name }}</div>

  <div class="code_container">

    <div class="input_container" [ngClass]="{
             focused_container : focused,
             error_container : !focused && !!messageError && !disabled
             }">

      <input [disabled]="disabled" #firstPinInput
             name="firstInput" maxlength="3" class="input_class"
             [ngModel]="firstPin" (focus)="focused = true" (blur)="focused = false" (ngModelChange)="changeFirst($event)">

    </div>

    <mat-icon class="separator">remove</mat-icon>

    <div class="input_container" [ngClass]="{
             focused_container : focused,
             error_container : !focused && !!messageError && !disabled
             }">

      <input [disabled]="disabled" #secondPinInput
             name="secondInput" maxlength="3" class="input_class"
             (blur)="focused = false" (focus)="focused = true" [ngModel]="secondPin" (ngModelChange)="changeSecond($event)">

    </div>

  </div>

  <div class="name error_text">{{messageError}}</div>

</div>
