<mat-dialog-content>
  <div class="main-container">
    <app-dialog-header name="{{ data.type === 'add' ? 'Add' : 'Edit' }} Product"></app-dialog-header>

    <div class="content">
      <div class="first-input_container input-container">
        <app-custom-input
          placeholder="BB-135"
          name="Product Code">
        </app-custom-input>
      </div>

      <div class="input-container">
        <app-custom-input
          placeholder="Banana"
          name="Name">
        </app-custom-input>
      </div>

      <div class="input-container double-input">
        <div class="half-input">
          <app-custom-input
            placeholder="kg"
            name="Unit">
          </app-custom-input>
        </div>

        <div class="half-input">
          <app-custom-input
            placeholder="price"
            name="Price">
          </app-custom-input>
        </div>
      </div>

<!--      TODO *ngFor-->
      <div class="add-unit-container">
        <div class="unit-add">
          <app-custom-input
            placeholder="kg"
            [name]="'Unit-' + 2"
          ></app-custom-input>
        </div>
        <div class="price-add">
          <app-custom-input
            placeholder="price"
            name="Price"
          ></app-custom-input>
        </div>
        <div class="delete" (click)="deleteUnit()">
          <mat-icon class="delete-icon">delete</mat-icon>
        </div>
      </div>

      <div class="add-button">
        <app-custom-button
          (onClick)="addUnit()"
          color="invisibleBlue"
          text="Add Unit"
          icon="add"
        ></app-custom-button>
      </div>

      <div class="input-container">
        <app-custom-input
          placeholder="In stock"
          name="Availability">
        </app-custom-input>
      </div>

      <div class="space-top">
        <app-custom-input
          placeholder="Exclusively for (Customer Numbers)">
        </app-custom-input>
      </div>

      <div class="space-top">
        <app-custom-input
          placeholder="Replacement Products (SKUs)">
        </app-custom-input>
      </div>

    </div>

    <app-dialog-bottom>
      <div class="buttons-container">
        <div class="close-button">
          <app-custom-button
            mat-dialog-close
            color="invisible"
            text="Cancel">
          </app-custom-button>
        </div>


        <div *ngIf="data.type === 'edit'; else addTemplate" class="done-container">
          <app-custom-button
            (onClick)="openSnackbar()"
            icon="done"
            [disabled]="false"
            color="blue"
            text="Save">
          </app-custom-button>
        </div>

        <ng-template #addTemplate>
          <div class="add-button-container">
            <app-custom-button
              (onClick)="openSnackbar()"
              icon="add"
              [disabled]="false"
              color="blue"
              text="Add Product">
            </app-custom-button>
          </div>
        </ng-template>
      </div>
    </app-dialog-bottom>
  </div>
</mat-dialog-content>
