$blue_button_color : #1672EC;
$blue_button_font_color : #C5DCFA;
$red_button_color : #F5413D;
$red_button_font_color : #FCD0CF;

$untouched_color : #616161;
$border_untouched_color : #A1A1A1;
$touched_input_color : #1672EC;
$input_success_color : #1F8B24;
$input_error_color : #DA100B;

$app_background : #E5E5E5;

$auth_form_color : #FFFFFF;
$auth_border_color : #E0E0E0;
$auth_description_color : #414141;

$active_background_color : rgba(197, 220, 250, 0.5);

$invisible : rgba(0,0,0,0);

