@import 'variables';

.main-container {
  color : $red-button-color;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 142%;

  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;
}
