.main-container {
  width: 440px;
}

.close {
  width: 90px;
  margin-right: 16px;
}

.delete {
  width: 124px;
}

.description {
  margin-top: 16px;
  width: 392px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;

}
