@import 'variables';

.main_container {

}

.checkbox_container {
  padding-right: 17px;
  padding-left: 8px;
  line-height: 2.5;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: $touched_input_color!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $touched_input_color;
}

.header {
  ont-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;

  letter-spacing: 0.03em;
  cplor: $untouched_color;
  margin-left: 12px;
}
